{% extends 'example/base.html' %}

{% block content %}
{% load static %}
<header><img id="sock" src="{% static "example/banner.gif" %}" alt="My image"/></header>
  <form id='log' action="{% url 'example:log_in' %}" method="post">
    {% csrf_token %}
    {% for field in form %}
      <div>
        {{ field.label_tag }}
        {{ field }}
      </div>
    {% endfor %}
    <button type="submit">Log in</button>
  </form>
  <p id="signup">Don't have an account? <a href="{% url 'example:sign_up' %}">Sign up!</a></p>
{% endblock content %}

