{% extends 'example/base.html' %}

{% block content %}
  <a href="{% url 'example:log_out' %}">Log out</a>
  <div class="group">
      <div class='content'>
        <h2 class='hidden'>Does this make sense?</h2>
        <form action="" class="hidden">
          <input type="submit" value='YES!!!'>
          <input type="submit" value="no...">
        </form>
    </div>
    <div class="botbar">
        <form action="">
            <input class='poll' type="submit" value="Raise Hand">
        </form>
    </div></div>
{% endblock content %}

{% block script %}
  <script>
    var socket = new WebSocket('ws://' + window.location.host + '/users/');

    socket.onopen = function open() {
      console.log('WebSockets connection created.');
    };

    socket.onmessage = function message(event) {
      var data = JSON.parse(event.data);
      // NOTE: We escape JavaScript to prevent XSS attacks.
      var username = encodeURI(data['username']);
      var user = $('li').filter(function () {
        return $(this).data('username') == username;
      });

      if (data['is_logged_in']) {
        user.html(username + ': Online');
      }
      else {
        user.html(username + ': Offline');
      }
    };
    $('.hidden').show();
    $('.content').click(function(){
      alert("Hi");
      $('.hidden').show();
    });
    if (socket.readyState == WebSocket.OPEN) {
      socket.onopen();
    }
  </script>
{% endblock script %}