{% extends 'example/base.html' %}

{% block content %}
  <a href="{% url 'example:log_out' %}">Log out</a>
  <div class="group">
      <div class='content'>
        <h2 class='hi'>Does this make sense?</h2>
        <form action="/clarify/" method="POST" class="hi">
          {% csrf_token %}
          <input id="yes" type="submit" value='Yes' name='answer'>
          <input id="no" type="submit" value="No" name='answer'>
        </form>
    </div>
    <div class="botbar">
        <form action="">
            <input class='poll' id='raise' type="button" value="Raise Hand">
        </form>
    </div></div>
{% endblock content %}

{% block script %}
  <script>
    var socket = new WebSocket('ws://' + window.location.host + '/users/');

    socket.onopen = function open() {
      console.log('WebSockets connection created.');
    };

    socket.onmessage = function message(event) {
      // var data = JSON.parse(event.data);
      console.log(event.data)
    if(event.data == "[user] 10"){  
      $('.hi').show();
    }
    
      // alert(event.data);
    
    };
    $('.hidden').show();
    $('.content').click(function(){
      alert("Hi");
      $('.hidden').show();
    });
    if (socket.readyState == WebSocket.OPEN) {
      socket.onopen();
    }
    $('#raise').click(function(event){
      socket.send(JSON.stringify(7));});

    $('#yes').click(function(event){
      socket.send(JSON.stringify(11));});

    $('#no').click(function(event){
      socket.send(JSON.stringify(12));  

    });  

  
  </script>

{% endblock script %}